spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
# server:
#   port: 8082
#ep-aged-forest-ah14iyzm-pooler.c-3.us-east-1.aws.neon.tech/productdb?sslmode=require&channel_binding=require