spring:
  application:
    name: ConfigServer
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config
server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: refresh
#  cloud:
#    config:
#      server:
#        git:
#          uri: https://github.com/Rohitmadgundi/app-configuration
#          username: ${GIT_USER}


#          password: ${GIT_PASSWORD}
