spring:
  application:
    name: ConfigServer
  profiles:
    active: native
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cloud:
    config:
      server:
        native:
          search-locations: file:///D:\rohit\SpringEcom-Microservices\ConfigServer\src\main\resources\config
server:
  port: 8888


management:
  endpoints:
    web:
      exposure:
        include: "*"
#  cloud:
#    config:
#      server:
#        git:
#          uri: https://github.com/Rohitmadgundi/app-configuration
#          username: ${GIT_USER}


#          password: ${GIT_PASSWORD}
